Lab 8: Basic Python

8.1: First Program, Types, Expressions & Variables

First Program

In [7]:
import sys

In [9]:
# This line prints a string
print('Hello, Python!')

Hello, Python!

In [4]:
print(sys.version)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

Types

In [10]:
# Integer
11

11

In [ ]:
# Float
2.14

In [ ]:
# String

"Hello, Python 101!"

In [ ]:
# Type of 12
type(12)

In [ ]:
# Type of 2.14
type(2.14)

In [11]:
# Type of "Hello, Python 101!"
type("Hello, Python 101!")

str

In [12]:
# System settings about float type
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [13]:
# Convert 2 to a float
float(2)

2.0

In [14]:
# Convert integer 2 to a float and check its type
type(float(2))

float

In [15]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

In [16]:
# Convert a string into an integer
int('1')

1

In [17]:
# Convert the string "1.2" into a float
float('1.2')

1.2

In [18]:
# Convert an integer to a string
str(1)

'1'

In [19]:
# Convert a float to a string
str(1.2)

'1.2'

In [20]:
# Value true
True

True

In [21]:
# Value false
False

False

In [22]:
# Type of True
type(True)

bool

In [23]:
# Type of False
type(False)

bool

In [24]:
# Convert True to int
int(True)

1

In [25]:
# Convert 1 to boolean
bool(1)

True

In [26]:
# Convert 0 to boolean
bool(0)

False

In [27]:
# Convert True to float
float(True)

1.0

In [28]:
type(6/2) # float

float

In [29]:
type(6//2) # int, as the double slashes stand for integer division

int

Expressions

In [33]:
# Addition operation expression
43 + 60 + 16 + 41

160

In [34]:
# Subtraction operation expression
50 - 60

-10

In [35]:
# Multiplication operation expression
5 * 5

25

In [36]:
# Division operation expression
25 / 5

5.0

In [37]:
# Integer division operation expression
25 // 5

4.166666666666667

In [ ]:
# Integer division operation expression
25 // 6

Variables

In [38]:
# Store value into variable
x = 43 + 60 + 16 + 41
x

160

In [39]:
# Use another variable to store the result of the operation between variable and value
y = x / 60
y

2.6666666666666665

In [ ]:
# Overwrite variable with new value
x = x / 60
x

In [ ]:
# Name the variables meaningfully
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

In [ ]:
# Name the variables meaningfully
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

In [ ]:
# Complicate expression
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

8.2: Strings

In [ ]:
# Use quotation marks for defining string
"Michael Jackson"

In [ ]:
# Use single quotation marks for defining string
'Michael Jackson'

In [ ]:
# Digitals and spaces in string
'1 2 3 4 5 6 '

In [ ]:
# Special characters in string
'@#2_#]&*^%$'

In [ ]:
# Print the string
print("hello!")

In [43]:
# Assign string to variable
Name = "Michael Jackson"
Name

'Michael Jackson'

In [44]:
# Print the first element in the string
print(Name[0])

M

In [45]:
# Print the element on index 6 in the string
print(Name[6])

l

In [46]:
# Print the element on the 13th index in the string
print(Name[13])

o

In [ ]:
# Print the last element in the string
print(Name[-1])

In [ ]:
# Print the first element in the string
print(Name[-15])

In [ ]:
# Find the length of string
len("Michael Jackson")

In [47]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [48]:
# Take the slice on variable Name with only index 8 to index 11
Name[8:12]

'Jack'

In [49]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[::2]

'McalJcsn'

In [50]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

In [ ]:
# Concatenate two strings
Statement = Name + "is the best"
Statement

In [ ]:
# Print the string for 3 times
3 * "Michael Jackson"

In [ ]:
# Concatenate strings
Name = "Michael Jackson"
Name = Name + " is the best"
Name

In [ ]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

In [ ]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

In [ ]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

In [ ]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

In [ ]:
# Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = "Michael Jackson"
Name.find('el')

In [ ]:
# Find the substring in the string.
Name.find('Jack')

In [ ]:
# If cannot find the substring in the string
Name.find('Jasdfasdasdf')

8.3: List

In [51]:
# Create a list
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [52]:
# Print the elements on each index
print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [ ]:
# Sample List
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

In [ ]:
# List slicing
L[3:5]

In [55]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [56]:
# Use append to add elements to list
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [57]:
# Use append to add elements to list
L.append(['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

In [58]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [59]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [60]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

In [61]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [62]:
# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [63]:
# Examine the copy by reference
print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [64]:
# Clone (clone by value) the list A
B = A[:]
B

['banana', 10, 1.2]

In [65]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

8.4: Tuples

In [1]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created
type(tuple1)

tuple

In [ ]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

In [ ]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

In [ ]:
# Use negative index to get the value of the last element
tuple1[-1]

In [ ]:
# Concatenate two tuples
tuple2 = tuple1 + ("hard rock", 10)
tuple2

In [ ]:
# Slice from index 0 to index 2
tuple2[0:3]

In [ ]:
# Slice from index 3 to index 4
tuple2[3:5]

In [ ]:
# Get the length of tuple
len(tuple2)

In [3]:
# A sample tuple
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [4]:
# Sort the tuple
RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [5]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [6]:
# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [7]:
# Print element on each index, including nest indexes
print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [8]:
# Print the first element in the second nested tuples
NestedT[2][1][0]

'r'

8.5: Dictinaries

In [ ]:
# Tạo dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

In [ ]:
# Truy cập giá trị bằng khóa
Dict["key1"]

In [ ]:
# Truy cập giá trị bằng khóa
Dict[(0, 1)]

In [9]:
# Tạo dictionary mẫu
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [10]:
# Lấy tất cả các khóa trong dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [11]:
# Lấy tất cả các giá trị trong dictionary
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [12]:
# Nối giá trị với khóa vào dictionary
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [13]:
# Xóa mục theo khóa
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [14]:
# Xác minh xem khóa có trong dictionary không
'The Bodyguard' in release_year_dict

True

8.6: Sets

In [ ]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

In [ ]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

In [ ]:
# Sample set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

In [ ]:
# Add element to set
A.add("NSYNC")
A

In [ ]:
# Try to add duplicate element to the set
A.add("NSYNC")
A

In [ ]:
# Remove the element from set
A.remove("NSYNC")
A

In [ ]:
# Verify if the element is in the set
"AC/DC" in A

In [ ]:
# Sample Sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Print two sets
album_set1, album_set2

In [ ]:
# Find the intersections
intersection = album_set1 & album_set2
intersection

In [ ]:
# Find the difference in set1 but not set2
album_set1.difference(album_set2)

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2
album_set1.intersection(album_set2)

In [ ]:
# Find the union of two sets
album_set1.union(album_set2)

In [ ]:
# Check if superset
set(album_set1).issuperset(album_set2)

In [ ]:
# Check if subset
set(album_set2).issubset(album_set1)

8.7: Conditions & Branching

Conditions

In [ ]:
# Condition Equal
a = 5
a == 6

In [ ]:
# Greater than Sign
i = 6
i > 5

In [ ]:
# Inequality Sign
i = 2
i != 6

In [ ]:
# Use Equality sign to compare the strings
"ACDC" == "Michael Jackson"

In [ ]:
# Use Inequality sign to compare the strings
"ACDC" != "Michael Jackson"

In [ ]:
# Compare characters
'B' > 'A'

In [ ]:
# Compare characters
'BA' > 'AB'

Branching

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

8.8: Loops

Range

In [16]:
# Use the range
range(3)

range(0, 3)

For loop

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

In [ ]:
# Example of for loop, loop through list

for year in dates:  
    print(year)

While loop

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

8.9: Functions

Functions

In [21]:
# First function example: Add 1 to a and store as b

def add(a):
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [22]:
# Get a help on add function
help(add)

Help on function add in module __main__:

add(a)

In [23]:
# Call the function add()
add(1)

1 if you add one 2

2

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

In [ ]:
# Use mult() multiply two integers
Mult(2, 3)

In [ ]:
# Use mult() multiply two floats
Mult(10.0, 3.14)

Build-in Functions

In [ ]:
# Build-in function print()
album_ratings = [10.0, 8.5, 9.5, 7.0, 7.0, 9.5, 9.0, 9.5] 
print(album_ratings)

In [ ]:
# Use sum() to add every element in a list or tuple together
sum(album_ratings)

In [ ]:
# Show the length of the list or tuple
len(album_ratings)

If/else & Loop in Functions

In [24]:
# Function example

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)
print(x)

Michael Jackson Thriller 1980
Oldie

In [25]:
# Print the list using for loop

def PrintList(the_list):
    for element in the_list:
        print(element)
        
# Implement the printlist function

PrintList(['1', 1, 'the man', "abc"])

1
1
the man
abc

Default value for the function

In [ ]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [ ]:
# Test the value with default value and with input
isGoodRating()
isGoodRating(10)

Global variables

In [26]:
artist = "Michael Jackson"

def printer(artist):
    global internal_var 
    internal_var= "Whitney Houston"
    print(artist,"is an artist")

printer(artist) 
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

Access modifier

In [ ]:
# Example of global variable

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:",getBandRating("Deep Purple"))
print("My favourite band is:", myFavouriteBand)

In [ ]:
# Example of local variable

def getBandRating(bandname):
    myFavouriteBand = "AC/DC"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is: ", getBandRating("AC/DC"))
print("Deep Purple's rating is: ", getBandRating("Deep Purple"))
print("My favourite band is", myFavouriteBand)

In [ ]:
# Example of global variable and local variable with the same name

myFavouriteBand = "AC/DC"

def getBandRating(bandname):
    myFavouriteBand = "Deep Purple"
    if bandname == myFavouriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:",getBandRating("AC/DC"))
print("Deep Purple's rating is: ",getBandRating("Deep Purple"))
print("My favourite band is:",myFavouriteBand)

Data type

In [27]:
def printAll(*args): # All the arguments are 'packed' into args which can be treated like a tuple
    print("No of arguments:", len(args)) 
    for argument in args:
        print(argument)
#printAll with 3 arguments
printAll('Horsefeather','Adonis','Bone')
#printAll with 4 arguments
printAll('Sidecar','Long Island','Mudslide','Carriage')

No of arguments: 3
Horsefeather
Adonis
Bone
No of arguments: 4
Sidecar
Long Island
Mudslide
Carriage

In [28]:
def printDictionary(**args):
    for key in args:
        print(key + " : " + args[key])

printDictionary(Country='Canada',Province='Ontario',City='Toronto')

Country : Canada
Province : Ontario
City : Toronto

Lab 9: OOP with Python

Objects & Classes

Lab 10: Basic API

Lab 11: Numpy in Python

11.1: One Dimensional Numpy

11.2: Two Dimensional Numpy

Lab 12: Data in Python

12.1: Reading Files with Open

12.2: Writing Files with Open

12.3: Getting started with Pandas in Python